.capsula {
  position: relative;
  width: 500px;
  height: 100px;
  margin: 50px auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  

}



.timer {
  position: absolute;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.4;
  letter-spacing: 0.5px;
  
  padding: 8px 12px;
  border-radius: 10px;
 
  height: 100px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  ;
}
