.hero {
  height: 100vh; /* full screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1E3C72, #2A5298, #FDC830);
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  gap: 20px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.hero p {
  font-size: 1.3rem;
  opacity: 0.9;
}

.hero button {
  background: white;
  color: #2451b3;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  transform: scale(1.05);
  background: #eee;
}


